body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #e9ecec;
}

li {
  border-bottom: 1px solid #ccc;
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

div {
  margin: 0 auto;
}

ul {
  margin: auto;
}

button {
  margin-bottom: 10px;
}


.list-item {
  display: inline-block;
  padding: .5em;
}
